<style>
    :host {
        display: block;
        text-align: center;
    }
    p {
        text-align: center;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: x-large;
        margin-top: 10px;
    }
    #gif-wrapper{
        display: inline-flex;
        flex-direction: column;
    }
    #gif-wrapper>img{
        margin-bottom:5px;
        border-radius: 5px;
        border: 1px solid black;
    }
</style>

<p>Error 404 page not found</p>


<div id="gif-wrapper">
    <img src="./../../../assets/images/nothing-to-do-here.gif" alt="">

    <a routerLink="/home" class="btn btn-primary">Return to a safer place!</a>
</div>